[Unit]
Description=Timer for the Waveshare SIM7600 4G Hat initialization script

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min

[Install]
WantedBy=timers.target